*{

}
body {
    background-color: #212529 !important;
    color: white!important;
}
div.phpdebug{
    padding: 25px;
    font-weight: bold;
}

nav.navbar li.nav-item > a{
    color: white;
}
nav.navbar a.nav-link.active{
    color: rgba(255, 255, 255, 0.637);
}
div#main *{
    border: 1px solid black;
}